$rose-pink: #e970caff;
$persian-pink: #f98cc8ff;
$alice-blue: #e5ecf4ff;
$purple-plum: #a347c3ff;
$glaucous: #6c88d2ff;
$y-in-mn-blue: #304d9cff;
$eminence: #732d8bff;
$dark-purple: #1a0a1f;
$rich-black-fogra-29: #090f1f;
$clear: rgba(0, 0, 0, 0);

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: 'Poiret One';
  src: url("/fonts/PoiretOne-Regular.ttf");
}
