@import './defaults.scss';

body,
html {
  height: 100%;
}

* {
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
}

#hero {
  height: 100%;
  color: $persian-pink;
  background: $rich-black-fogra-29;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1,
  h2 {
    z-index: 10;
  }

  h1 {
    font-size: 100px;
    font-weight: 100;
    font-family: 'Montserrat Alternates';
    color: #fff;
    text-shadow: 0 0 5px #fff, -1px 0 8px #f0f, 1px 0 8px #0ff;
  }

  .bevel {
    width: 100%;
    height: 100%;
    transform: skew(-24deg);
    // background: linear-gradient(0.1turn, $clear, $clear 50%, $rose-pink);
    background: linear-gradient(45deg, $clear, $clear 50%, $rose-pink);

    position: absolute;
    top: 0;
    right:67%;

     z-index: 5;
  }

  #cosmos {
    width: 100%;
    height: 100%;
    position: absolute;

    z-index: 1;
  }
}
